<html>
  <body>
    <form action="/produtos" method="post">
      <div class="">
        <label for="titulo">Titulo</label>
        <input type="text" id="titulo" name="titulo" placeholder="coloque o titulo aqui"/>
      </div>
      <div class="">
        <label for="preco">Preço</label>
        <input type="text" id="preco" name="preco" placeholder="coloque o preco aqui"/>
      </div>
      <div class="">
        <label for="descricao">Descrição</label>
        <input type="textarea" id="descricao" name="descricao" placeholder="coloque a descricao aqui"/>
      </div>

      <input type="submit" name="" value="Gravar">
    </form>
  </body>
</html>
