<html>
  <head>
    <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCMWYth3MhH_HDBuicGD2QV23HCh12FtnA"
  type="text/javascript"></script>
  <script async defer src="https://maps.googleapis.com/maps/api/js"
type="text/javascript"></script>
    <script src="https://rawgit.com/hpneo/gmaps/master/gmaps.js"></script>
    <style type="text/css">
      #map {
        width: 400px;
        height: 400px;
      }
    </style>
  </head>
  <body>
    <h1>Sua localização</h1>
    <div id="map"></div>
    <script type="text/javascript">

       $(document).ready(function() {
        var map = new GMaps({
          el: '#map',
          lat: -12.043333,
          lng: -77.028333
        });

        GMaps.geolocate({
          success: function(position) {
            map.setCenter(position.coords.latitude, position.coords.longitude);
          },
          error: function(error) {
            alert('Geolocalização falhou: '+error.message);
          },
          not_supported: function() {
            alert("Seu browser não suporta geolocalização");
          },
          always: function() {
            alert("Feito!");
          }
        });
      });
    </script>
  </body>
</html>
